body {
    margin: 0;
    /* padding: 10px; */
    background-color: cornsilk;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#sidepanel {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 350px;
    margin-left: 76%;
    background-color: rgb(162, 240, 179);
    overflow: auto;
}

#container2 {
    position: absolute;
    margin-left: 3px;
    height: 5%;
    width: 283px;
    margin-top: 3px;
    background-color: rgb(209, 209, 249);
    display: flex;
    align-items: center;
    padding: 30px;
    outline: auto;
}

#container3 {
    margin-top: 25%;
    margin-left: 3px;
    height: 8%;
    width: 283px;
    background-color: rgb(174, 213, 243);
    display: flex;
    align-items: center;
    padding: 30px;
    outline: auto;
}

input[type="radio"] {
    margin-top: -1px;
    /* margin-left: 40px; */
    vertical-align: middle;
}

#containerTexts {
    font-size: 20px;
}

label {
    margin-right: 5%;
    font-size: 18px;
}

select {
    text-align: center;
    font-size: 18px;
    width: 40%;
}
