body {
    margin: 0;
    /* padding: 10px; */
    background-color: cornsilk;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#sidepanel {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 360px;
    margin-left: 75%;
    background-color: rgb(162, 240, 179);
    overflow: auto;
}

#container2 {
    position: absolute;
    margin-left: 6px;
    height: 3%;
    width: 290px;
    margin-top: 3px;
    background-color: rgb(209, 209, 249);
    display: flex;
    align-items: center;
    padding: 30px;
    outline: auto;
}

#container3 {
    margin-top: 25%;
    margin-left: 6px;
    height: 5%;
    width: 290px;
    background-color: rgb(174, 213, 243);
    display: flex;
    align-items: center;
    padding: 30px;
    outline: auto;
}

input[type="radio"] {
    margin-top: -1px;
    margin-left: 40px;
    vertical-align: middle;
}

#containerTexts {
    font-size: 20px;
}

label {
    margin-right: 5%;
    font-size: 25px;
}

#year {
    font-size: 20px;
    width: 30%;
}

option {
    text-align: center;
    font-size: 20px;
}
