body {
    margin: 0;
    /* padding: 10px; */
    background-color: cornsilk;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#sidepanel {
    position: absolute;
    top: 0;
    bottom: 0;
    /* width: 20.2%; */
    width: 20vw;
    height: 100%;
    margin-left: 79.8%;
    background-color: rgb(162, 240, 179);
    overflow: auto;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    }

#container2 {
    margin-left: 3px;
    height: 5%;
    width: 100%;
    max-width: 270px;
    min-height: 2px;
    max-height: 5px;
    position: relative;
    margin-top: 3px;
    background-color: rgb(182, 182, 254);
    display: flex;
    align-items: center;
    padding: 10%;
    outline: auto;
}

#container3 {
    margin-left: 3px;
    height: 5%;
    min-height: 5px;
    max-height: 15px;
    position: relative;
    width: 100%;
    max-width: 270px;
    background-color: rgb(174, 205, 243);
    display: flex;
    align-items: center;
    padding: 10%;
    outline: auto;
}

#container4 {
    margin-left: 3px;
    height: 3%;
    min-height: 5px;
    max-height: 10px;
    position: relative;
    width: 100%;
    max-width: 270px;
    background-color: rgb(174, 228, 243);
    display: flex;
    align-items: center;
    padding: 10%;
    outline: auto;
}

#container5 {
    margin-left: 3px;
    height: 50%;
    min-height: 150px;
    max-height: 550px;
    position: relative;
    width: 100%;
    max-width: 318px;
    background-color: rgb(174, 243, 230);
    display: flex;
    /*align-items: center;*/
    padding: 3%;
    outline: auto;
    align-items: flex-start;
    justify-content:space-between;
}

#container6 {
    margin-left: 3px;
    /* height: 10%; */

    position: relative;
    height: 25%;
    min-height: 35px;
    max-height: 355px;
    width: 100%;
    max-width: 270px;
    background-color: rgb(174, 243, 174);
    display: flex;
    padding: 10%;
    outline: auto;
    align-items: flex-start;
    justify-content:space-between;
}

#crimeAgainst {
    width: 35%;
    margin-left: 5%;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    /* align-content: stretch; */
    align-items: flex-start;
}

input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
}

.containerTexts {
    font-size: 1vw;
    margin-left: 5%;
}

#container5 .containerTexts, #container6 .containerTexts{
    position: absolute;
}

#container5 .containerTexts {
    margin-left: 10%;
    margin-top: 3%;
}

#chart_wrapper {
    position: relative;
    margin-top: 18%;
    /* margin-right: 10px;
    margin-left: 10px; */
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 1200px) {
    div {
       font-size: 20px;
    }
}

label {
    margin-right: 5%;
    font-size: 1vw;
}

select {
    text-align: center;
    font-size: 1vw;
    width: 40%;
}

#container1 {
    width: 30%;
    /* height: 30%; */
    height: 80px;
    opacity: 95%;
    background-color: rgba(2, 2, 2, 0.621);
    margin: 10px;
    font-size: 1.3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(254, 254, 254);
    flex-direction: column;
}

#disclaimer {
    width: 5%;
    color: white;
    opacity: 80%;
    margin-left: 2%;
    font-size: 0.6vw;
    /* background-color: brown; */
    text-align: center;
}

button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: rgb(164, 70, 16);
    color: white;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }
  
#text {
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 1.5vw;
    text-align: center;
    color: rgb(90, 227, 48);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#income {
    background-color: #f55454;
    color: #ffffff;
}

#container4 a.active {
    background-color: #a053ff;
    color: #ffffff;
}
